{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "bracketSpacing": false,
        "singleQuote": false
      }
    }
  ]
}
